* {
 box-sizing: border-box;
}

body {
 background-color: #e2e8f0;
}

.griditems1 {
 grid-area: sideMenu;
}

.griditems2 {
 grid-area: profile;
}

.griditems3 {
 grid-area: projects;
}

.griditems4 {
 grid-area: annoucements;
}

.contDash {
 display: grid;
 grid-template-areas: 'sideMenu profile profile profile' 'sideMenu projects projects annoucements' 'sideMenu projects projects annoucements';
 background-color: #2196F3;
 gap: 10px;
 padding: 10px;
 position: absolute;
 top: 0;
 right: 0;
 left: 0;
 bottom: 0;
}

.contDash >div {
 background-color: rgba(255, 255, 255, 0.8);
 padding: 90px;
}

.items {
 background-color: green;
}

.projectItems {
 display: grid;
 grid-template-columns: auto auto;
 gap: 30px;
}

.projectItems >div {
 border-radius: 5px;
 height: 150px;
 border-left: 5px solid red;
}

.para {
 margin-left: 5px;
 margin-top: -24px;
}

.parahed {
 margin-left: 5px;
}

.profileItems { 
 display: grid;
 grid-template-columns: auto auto;
 gap: 10px;
}

.pro {
 display: flex;
 align-content: center;
 gap: 20px;
 background-color: red;
}

.pro >div {
 flex-shrink: 3;
}

.ann {
 display: grid;
 grid-template-rows: auto auto;
 gap: 10px;
 margin-left: -80px;
}

.annItems {
 display: flex;
 background-color: yellow;
 width: 220px;
 border-radius: 7px;
 margin-top: -20px;
}

.annDivs {
 display: flex;
 flex-direction: column;
 gap: 10px;
 margin-top: 20px;
 margin-bottom: 20px;
}

.icons {
 list-style-type: none;
 display: flex;
 margin-left: 120px;
}

.icons > li {
 padding-left: 15px;
}

.annpara {
 font-size: 10.8px;
 margin-top: -20px;
}

.tag {
 display: flex;
 justify-content: left;
 align-items: center;
 margin-left: 35px;
}

.tag > div {
 margin: -9px;
}

.tagperson {
 list-style-type: none;
 font-size: 12px;
}

input {
 border-radius: 5px;
 border-color: white;
 width: 450px;
}

button {
 border-radius: 5px;
 background-color: blue;
 border-color: blue;
 color: white;
}
