body {
 background-color: #e2e8f0;
 padding: 0;
 margin: 0;
 height: 100%;
}

main {
 background-color: red;
 height: 100%;
 position: absolute;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;

}

.griditems1 {
 grid-area: sideMenu;
 background-color: #2563eb;
 width: 190px;
}

.griditems2 {
 grid-area: profile;
 background-color: white;
 width: 1056px;
 height: 120px;
}

.griditems3 {
 grid-area: projects;
 background-color: pink;
 height: 385px;
 width: 800px;
}

.griditems4 {
 grid-area: annoucements;
 background-color: green;
 height: 385px;
 width: 195px;
}

.contDash {
 display: grid;
 grid-template-areas: 'sideMenu profile profile profile' 'sideMenu projects projects annoucements' 'sideMenu projects projects annoucements';
 position: absolute;
 height: 100%;
}

.contDash >div {
 text-align: center;
 padding: 30px;
 font-size: 30px;
}

.nav {
 display: flex;
 flex-direction: column;
 list-style-type: none;
 align-items: flex-start;
 margin-left: -50px;
}

.navItems {
 font-size: 20px;
 color: white;
 margin-bottom: 10px;
}
