*{
 box-sizing: border-box;
}

.navItems {
 list-style-type: none;
 margin-bottom: 10px;
 cursor: pointer;
}

body {
 background-color: #cbd5e1;
}

.griditems1 {
 grid-area: sideMenu;
 width: 300px;
 background-color: blue;
}

.griditems2 {
 grid-area: profile;
 height: 200px;
 background-color: white;
 margin-left: -65px;
}

.griditems3 {
 grid-area: projects;
 margin-top: -10px;
}

.griditems4 {
 grid-area: annoucements;
}

.contDash {
 display: grid;
 grid-template-areas: 'sideMenu profile profile profile' 'sideMenu projects projects annoucements' 'sideMenu projects projects annoucements';
}

.items {
 background-color: white;
}

.projectItems {
 display: grid;
 grid-template-columns: auto auto;
 gap: 30px;
 width: 650px;
}

.projectItems >div {
 border-radius: 5px;
 height: 150px;
 border-left: 5px solid rgb(255, 136, 0);
}

main {
  position: absolute;
 padding: 0;
 margin: 0;
 top: 0;
 left: 0;
 right: 0;
}

.para {
 margin-left: 5px;
 margin-top: -24px;
}

.parahed {
 margin-left: 5px;
}

.profileItems { 
 display: grid;
 grid-template-columns: auto auto;
 gap: 10px;
}

.pro {
 display: flex;
 align-content: center;
 gap: 20px;
 margin-top: 30px;
 margin-left: 20px;
}

.hi {
  margin-top: -14px;
}

.go {
  margin-top: -10px;
}

.ann {
 display: grid;
 grid-template-rows: auto auto;
 gap: 10px;
 margin-left: -80px;
}

.annItems {
 display: flex;
 background-color: white;
 width: 220px;
 border-radius: 7px;
 margin-top: -20px;
}

.annDivs {
 display: flex;
 flex-direction: column;
 gap: 10px;
 margin-top: 20px;
 margin-bottom: 20px;
}

.icons {
 list-style-type: none;
 display: flex;
 margin-left: 150px;
}
.icons > li {
  margin-left: 10px;
}

.annpara {
 font-size: 10.8px;
 margin-top: -20px;
}

.tag {
 display: flex;
 justify-content: left;
 align-items: center;
 margin-left: 35px;
}

.tag > div {
 margin: -9px;
}

.tagperson {
 list-style-type: none;
 font-size: 12px;
}

input {
 border-radius: 5px;
 width: 450px;
 background-color: #cbd5e1;
}

button {
 border-radius: 5px;
 background-color: blue;
 border-color: blue;
 color: white;
 justify-content: center;
}

.dashIcon {
  margin-bottom: 40px;
}

.ic {
  margin-left: 10px;
}